/.metadata/
/.settings/
/pressevent-database-configuration/.settings/

/pressevent-database-configuration/target/classes/META-INF/
/pressevent-middleoffice/pressevent-middleoffice-api/.settings/org.eclipse.wst.validation.prefs
/pressevent-middleoffice/pressevent-middleoffice-api/.settings/org.springframework.ide.eclipse.prefs
/pressevent-middleoffice/pressevent-middleoffice-api/target/classes/META-INF/
/pressevent-middleoffice/pressevent-middleoffice-app/.settings/org.springframework.ide.eclipse.prefs
/pressevent-middleoffice/pressevent-middleoffice-app/target/m2e-wtp/
/pressevent-webapp/.settings/org.springframework.ide.eclipse.prefs
/pressevent-webapp/target/
/pressevent-database-configuration/target/
/pressevent-middleoffice/pressevent-middleoffice-api/target/
/pressevent-middleoffice/pressevent-middleoffice-app/target/
/pressevent-middleoffice/pressevent-middleoffice-app/.settings/
/pressevent-middleoffice/pressevent-middleoffice-api/.settings/
       
