<div class="route-bar">
    <div class="route-bar-breadcrumb">
        <i class="fa fa-home"></i>
        <span>/ </span>
        <span *ngFor="let item of breadcrumbList; let i = index" [class.active]="i===breadcrumbList.length-1">
            <a [routerLink]="item.path" *ngIf="i!==breadcrumbList.length-1">
          {{ item.name }}
        </a>
            <span *ngIf="i===breadcrumbList.length-1">{{ item.name }}</span>
        </span>

    </div>

    <ul class="route-bar-menu">
        <li class="search-item">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search..." />
        </li>
        <li>
            <a (click)="affiche()" pTooltip="Notifications" tooltipPosition="bottom">

                <i class="fa fa-globe"></i>
            </a>
        </li>
        <li>
            <a (click)="showDialog()" pTooltip="Calendar" tooltipPosition="bottom">
                <i class="fa fa-calendar"></i>
            </a>
        </li>
    </ul>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-6 ui-fluid ">
    <p-dialog header="Evenements" [(visible)]="display" [style]="{width: '600px', height: '500px'}">
        <p-fullCalendar [events]="events " [options]="options ">
        </p-fullCalendar>
        <p-footer>
            <button type="button" pButton icon="pi pi-times-circle" (click)="display=false" label="Fermer"></button>
        </p-footer>
    </p-dialog>
</div>
<div class="ui-g-12 ui-md-12 ui-lg-6 ui-fluid ">
    <p-dialog header="GEO" [(visible)]="vue" [style]="{width: '600px', height: '500px'}">
        <p-gmap [options]="Options" [overlays]="overlays" [style]="{'width':'100%','height':'320px'}"></p-gmap>
        <p-footer>
            <button type="button" pButton icon="pi pi-times-circle" (click)="vue=false" label="Fermer"></button>
        </p-footer>
    </p-dialog>
</div>